.container {
    margin-top: 12rem;
    display: flex;
    justify-content: center;
}

.wrapper {
    width: 100%;
    max-width: 1100px;
    display: flex;
    gap: 30px;
}

.resultList {
    flex: 3;
}

@media screen and (max-width: 768px) {
    .container {
        margin-top: 18rem;
        margin-left: 2rem;
        margin-right: 2rem;
    }

    .wrapper {
        flex-direction: column;
    }
}

@media screen and (min-width: 768px) {
    .container {
        max-width: 1200px;
        margin-left: auto;
        margin-right: auto;
    }

    .wrapper {
        margin: 0 3rem;
    }
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
    .container {
        margin-top: 18rem;
    }
}