.optionItem {
    display: flex;
    align-items: center;
    justify-content: start;
    margin: 10px 15px;
}

.optionText {
    color: black;
    width: 120px;
    text-align: left;
    margin-right: 10px;
}

.optionCounter {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: black;
}

.optionCounterButton,
.optionCounterNumber {
    width: 30px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
}

.optionCounterButton {
    border: 1px solid var(--secondary-color);
    color: var(--secondary-color);
    cursor: pointer;
}

.optionCounterButton:disabled {
    cursor: not-allowed;
    background-color: #f5e7e7;
}

.sign {
    font-size: 1.1rem;
    font-weight: 500;
}