.optionItem {
    width: 200px;
    display: flex;
    justify-content: space-between;
    margin: 10px;
}

.optionText {
    color: black;
}

.optionCounter {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 12px;
    color: black;
}

.optionCounterNumber {
    font-size: 1rem;
}

.optionCounterButton {
    width: 30px;
    height: 30px;
    border: 1px solid var(--secondary-color);
    color: var(--secondary-color);
    cursor: pointer;
    background-color: white;
}

.optionCounterButton:disabled {
    cursor: not-allowed;
}

.sign {
    font-size: 20px;
    font-weight: 500;
}