.navbar {
    background-color: var(--primary-color);
    padding: 1rem 7rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    color: #fff;
    font-size: 1.5rem;
    font-weight: bold;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}

.navButton {
    border: none;
    outline: none;
    border-radius: 5px;
    padding: 6px 12px;
    cursor: pointer;
    font-size: 1rem;
    background-color: transparent;
    margin-left: 10px;
}

a {
    text-decoration: none;
    color: #fff;
    font-weight: bolder;
}

.navButton:hover {
    background-color: var(--secondary-color);
    transition: all 0.3s ease-in;
}

@media screen and (max-width: 768px) {
    .navbar {
        padding: 1rem 2rem;
    }
}

@media screen and (max-width: 425px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .navButton {
        margin-top: 10px;
        margin-left: 0;
    }
}