.hero {
    display: flex;
    justify-content: center;
    position: relative;
}

.heroSearch {
    height: 60px;
    background-color: white;
    border: 3px solid #e5a905;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 10px;
    border-radius: 10px;
    position: absolute;
    /* bottom: -25px; */
    bottom: -80px;
    width: 90%;
    max-width: 1160px;
}

.heroIcon {
    color: var(--main-color);
    margin-right: 5px;
}

.heroSearchInput {
    border: none;
    outline: none;
    color: black;
    font-size: 1rem;
    width: 100%;
}

.heroSearchText {
    font-size: 1rem;
    color: black;
    cursor: pointer;
    display: flex;
    align-items: center;
    outline: none;
    border: none;
    background-color: transparent;
}

.options {
    z-index: 9;
    position: absolute;
    top: 60px;
    background-color: white;
    color: var(--main-color);
    border-radius: 5px;
    box-shadow: 0px 0px 10px -3px rgba(19, 16, 16, 0.808);
}

.heroSearchButton {
    background-color: var(--secondary-color);
    border: none;
    outline: none;
    padding: 10px 20px;
    border-radius: 10px;
    color: white;
    font-size: 1rem;
    cursor: pointer;
}

.heroSearchButton:hover {
    background-color: var(--primary-color);
}

@media (max-width: 768px) {
    .heroSearch {
        flex-direction: column;
        padding: 10px;
        /* bottom: -100px; */
        bottom: -200px;
        height: 180px;
    }

    .heroSearchItem {
        width: 100%;
        justify-content: space-evenly;
        margin-bottom: 10px;
    }

    .heroSearchButton {
        width: 100%;
    }

    .options {
        top: 120px;
    }
}

@media (max-width: 480px) {
    .heroSearch {
        bottom: -200px;
        height: 180px;
    }

    .heroSearchInput,
    .heroSearchText,
    .heroSearchButton {
        font-size: 0.8rem;
    }
}