.errorImage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pageNotFoundImage {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    margin-top: 6rem;
}

.errorMessage {
    color: #000;
    font-size: 1.5rem;
    text-align: center;
}


@media screen and (max-width: 625px) {
    .errorMessage {
        font-size: 1.4rem;
        margin: 0 4rem;
    }
}

@media screen and (max-width: 400px) {
    .errorMessage {
        font-size: 1.3rem;
        margin: 1rem;
    }
}